<%- include('../partials/header.ejs') %>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-10 mx-auto">
                <div class="card shadow">
                    <div class="card-body p-4">
                        <img src="https://images3.alphacoders.com/135/1350069.jpeg" class="img-fluid" alt="walpaper">
                        <div
                            class="lead my-3 d-flex align-items-center fw-semibold justify-content-between text-secondary">
                            <div>Auth: Mark Zuckerberg</div>
                            <div>Created: 11-23-2024</div>
                        </div>
                        <h1 class="text-secondary fw-bold">
                            Wallpaper
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, est non animi saepe
                            itaque accusamus beatae dicta, laboriosam odit quisquam, aperiam quia similique quae
                            illo ab ipsam eum repellat fugit!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>